#################################################
###  General  ###################################
#################################################

.vscode/
.idea/

#################################################
###  Rust  ######################################
#################################################

target/
Cargo.lock
**/*.rs.bk

#################################################
###  Rust  ######################################
#################################################

tests/*.sample.*
!tests/env.sample.yaml

