#################################################
###  General  ###################################
#################################################

.vscode/
.idea/

#################################################
###  Rust  ######################################
#################################################

target/
Cargo.lock
**/*.rs.bk
